.info-slider {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: linear-gradient(to top left, #0d2b3b, #57CA85);
}

ion-card {
  backdrop-filter: blur(5px);
  padding-bottom: 15px;
  width: 95%;
  max-width: 840px;
  max-height: 90%;

  overflow: hidden;
  overflow-y: auto;

  ::-webkit-scrollbar {
    display: none;
  }
}

.intro-logo {
  top: 25%;
}

.tall-card {
  top: -10%;
  min-height: 400px;
}
