

.about-content {
    max-width: 840px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    justify-content: center;

    img {
        display: block;
        width: 75%;
        margin: auto;
        padding: 20px;
    }
}