<ion-tabs>

    <ion-tab-bar *ngIf="isMobile" slot="bottom" translucent="true">

        <ion-tab-button tab="batami">
            <ion-icon name="leaf-outline"></ion-icon>
            <ion-label>Batami</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="forest">
            <ion-icon name="compass-outline"></ion-icon>
            <ion-label>Forest</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
