.card-footer-btn {
  float: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animate-flicker {
  animation: fadeIn 1s infinite alternate;
  vertical-align: middle;
}

ion-progress-bar {
  padding-top: 20px;
  margin-bottom: 10px;
}

.cal-loading {
  height: 320px;

  ion-spinner {
    height: 200px;
    width: 200px;
    margin: auto;
    display: flex;
    top: 60px;
  }
}
