/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic @components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS @utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  --background: linear-gradient(to top left, #0d2b3b, #57CA85);
}

.content {
  max-width: 840px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.border-radius {
  border-radius: 5px;
}

.p5Canvas {
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.full-width-modal {
  --width: 100%;
  --height: 100%;
  border-radius: 0;
}

ion-tab-bar {
  border: 0
}

.title-icon {
  vertical-align: middle;
}

.no-bg {
  background: none !important;
}

.no-border {
  --border: 0px;
}

ion-item {
  --ion-item-background: transparent !important;
}

.header-background {
  backdrop-filter: none;
  background: var(--ion-background-color);
}

// cal
ion-calendar {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;

  .good {
    background-color: var(--ion-color-success) !important;

    p {
      color: white !important;
      transform: translateY(-8px);
    }

    small {
      color: white !important;
      font-weight: bold !important;
      transform: translateY(-8px);
    }
  }

  .dry {
    background-color: var(--ion-color-danger) !important;

    p {
      color: white !important;
      transform: translateY(-8px);
    }

    small {
      color: white !important;
      font-weight: bold !important;
      transform: translateY(-8px);
    }
  }

  .wet {
    background-color: #3880ff !important;

    p {
      color: white !important;
      transform: translateY(-8px);
    }

    small {
      color: white !important;
      font-weight: bold !important;
      transform: translateY(-8px);
    }
  }
}
